@use '../abstracts/variables' as *;

@media (max-width: 992px) {
  .hero__title { font-size: 40px; }
  .about__title, .work__title { font-size: 28px; }
  .hero__description, .about__description, .work__description { font-size: 16px; }
  .projects__container { display: flex; gap: 20px; }
  .projects__list { width: 30%; transform: none; margin-bottom: 20px; }
  .projects__list:nth-child(n) { transform: none; }
}

@media (max-width: 768px) {
  .nav__list { gap: 40px; }
  .hero__title { font-size: 32px; }
  .about__title, .work__title { font-size: 24px; }
  .hero__description, .about__description, .work__description { font-size: 15px; }
  .projects__container { flex-direction: row; gap: 20px; }
  .projects__list { width: 45%; margin-bottom: 20px; transform: none; }
  .projects__list:nth-child(n) { transform: none; }
}

@media (max-width: 576px) {
  .nav { margin-bottom: 0; padding-top: 20px; }
  .nav__list { display: none; }
  .burger { display: inline-block; }
  .hero { padding-bottom: 40px; }
  .hero__title { font-size: 24px; }
  .hero__description { margin-bottom: 20px; font-size: 14px; }
  .hero__button { min-width: 180px; min-height: 50px; font-size: 14px; padding-top: 8px; }
  .about { margin: 60px 0; }
  .about__title, .work__title { font-size: 20px; }
  .about__description, .work__description { font-size: 14px; }
  .work__title { padding-top: 60px; }
  .projects { padding: 60px 0; }
}

@media (max-width: 375px) {
  .hero__title { font-size: 20px; }
  .about__title, .work__title { font-size: 18px; }
  .hero__description, .about__description, .work__description { font-size: 13px; }
  .hero__button { margin-inline: auto; }
  .projects__container { flex-direction: column; align-items: center; }
  .projects__list {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    transform: none;
    justify-content: center;
  }
}
