$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.64;

$color-light-gray: #EEEFF1;
$color-dark-blue: #34547A;
$color-gray: #727272;
$color-white: #FFFFFF;

$container-primary: 1110px;
$container-secondary: 540px;