:root {
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.64;

  /* Цветовая палитра */
  --color-light-gray: #EEEFF1;
  --color-dark-blue: #34547A;
  --color-gray: #727272;
  --color-white: #FFFFFF;

  /* Контейнеры */
  --container-primary: 1110px;
  --container-secondary: 540px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

.container {
  width: min(100% - 40px, var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - 40px, var(--container-secondary));
  margin-inline: auto;
  /* transform: translateX(4px); */
}

.about .container--sm {
  transform: translateX(4px);
}

.work .container--sm {
  transform: translateX(6px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

/* header */
.header {
  background-color: var(--color-light-gray);
}

.nav {
  padding-top: 80px;
  margin-bottom: 143px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.nav__link {
  line-height: var(--line-height);
  letter-spacing: 1.7px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.nav__link--active {
  color: var(--color-dark-blue);
}

.nav__item:nth-last-child(3) {
  margin-right: 10px;
}

.hero {
  max-width: var(--container-secondary);
  padding-bottom: 140px;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: var(--line-height);
  margin-bottom: 35px;
}

.hero__description {
  line-height: var(--line-height);
  padding-left: 2px;
  color: var(--color-gray);
  margin-bottom: 55px;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  text-decoration: none;
  line-height: var(--line-height);
  letter-spacing: 1.7px;
  text-align: center;
  text-transform: uppercase;
  min-width: 225px;
  min-height: 65px;
  width: fit-content;
}

/* main */
/* section about */
.about {
  margin-top: 117px;
  /* margin-left: 23px; */
  margin-bottom: 92px;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 42px;
}

.about__descripition {
  line-height: var(--line-height);
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 50px;
}

/* section projects */
.projects {
  background-color: var(--color-dark-blue);
  padding-top: 100px;
  padding-bottom: 96px;
  /* padding-left: 10px; */
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: start; */
  /* gap: 60px; */
}

.projects__list {
  display: flex;
  gap: 20px;
}

.projects__list:nth-child(1) {
  transform: translateX(9px);
}

.projects__list:nth-child(3) {
  transform: translateX(-7px);
}

.projects__list:nth-child(4) {
  transform: translateX(-14px);
}

.projects__list:nth-child(5) {
  transform: translateX(-19px);
}

.projects__list:nth-child(6) {
  transform: translateX(-27px);
}

.projects__list-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects__list-item {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: var(--color-white);
}

.projects__list-subitem {
  color: var(--color-white);
}

/* section how i work */
.work {
  /* margin-left: 14px; */
  background-color: var(--color-light-gray);
}

/* .about .container--sm {
  transform: translateX(4px);
} */

.work__title {
  padding-top: 103px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 42px;
  /* margin-left: 4px; */
}

.work__descripition {
  line-height: var(--line-height);
  text-align: center;
  color: var(--color-gray);
  padding-bottom: 50px;
  /* margin-left: -2px; */
}

/* section video */
.video {
  padding-bottom: 100px;
  background-color: var(--color-light-gray);
}

.video__iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0;
  min-height: 200px;
}

/* footer */
.footer {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 18px;
}

.footer__description {
  font-size: 13px;
}
